<!-- Latest compiled and minified CSS -->
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<style>
    html,body{height:100%;}
h2{text-transform:uppercase;font-family:'Raleway', sans-serif !important; margin:0 0 30px 0 !important; color:#fff !important}

#cover{background:url(art.jpg) no-repeat top center;background-size:cover;height:100%;text-align:center;color:white;display:flex;align-items:center; }
#cover::before{content:"";width:50%;height:100%;position:absolute;top:0;left:0;background-color:rgba(0,0,0,.85);}
#cover-caption{width:100%;}
#cover-caption img{margin:30px 0 0 0;}
.subscribeBx{width:350px;margin:auto;position:relative;}
.subscribeBx form{margin:20px 0 25px 0 !important;}
.subscribeBx .form-control{background-color:rgba(255,255,255,0.05);border:none;border-radius:0;color:#fff;border-bottom:1px solid #fff;padding:20px 10px;}
.subscribeBx .icon{width:50px;height:50px;position:absolute;right:7px;top:-5px;color:rgba(255,255,255,0.2);background-color:transparent;border:none;}
.subscribeBx i{font-size:20px;}
.socialMedia{width:350px;margin:15px auto;}
.socialMedia i{font-size:15px;margin:0 20px 0 0;}
ul.socialicons{list-style:none;margin:0;}
ul.socialicons li{display:inline-block;margin:0 0 0 0;padding:0 0 0 0;}
ul.socialicons li a{color:#fff;text-decoration:none;}




h2 span {
  font: "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(art.jpg) repeat-y;
  -webkit-background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media (max-width:980px){
  #cover::before{display:none;}
  .col-clr{background: rgba(0,0,0,0.55);
    padding: 40px 0;}
} 
</style>
<body>

<section id="cover">
  <div id="cover-caption">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="col-clr">
          
            <img src="logo.png"  width="300px" >
            <h1 class="fst-italic lh-1 mb-4">Site en construction </h1>
            <br>
                        <h4> Bureau Dellys</h4>
                    <p class="mb-5">Résidence Jolie Vue ,Oued Tiza Dellys</p>
                    <p class="mb-5">Tél: +213 05 60 92 46 58/ 05 60 84 77 10</p>
                    <br>
                        <h4> Bureau Boumerdes</h4>
                    <p class="mb-5">Cité 11 décembre 1960, bloc C Apt .39 Deriche, Boumerdes</p>
                    <p class="mb-5">Tél: +213 024 75 01 88 / 05 60 46 63 38</p>
<br>
         <!--<div class="subscribeBx">
            <form>
              <input type="text" placeholder=" Email id" class="form-control" />
              <button type="submit" class="icon"><i class="fa fa-envelope-o"></i></button>
            </form>
          </div>  --> 
          <div class="socialMedia">
            <ul class="socialicons">
              <li><a href="https://www.facebook.com/sarlartpromotion"><i class="fa fa-facebook"></i></a></li>
            
              <li><a href="mailto:sarlartpromotion.dellys@gmail.com"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
        </div>   
        <div class="col-md-6 text-center"></div>
      </div>
    </div>
  </div>
</section>

</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
